<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
<h1>Welcome </h1>
<p>Click on a Trip to view details.</p>
<%= link_to 'Create a new Trip', new_trip_path %>
<ul>
  <% @trips.each do |trip| %>
    <li><%=link_to trip.name, trip%></li>
  <% end %>
</ul>
