<h1><%= @trip.name %></h1>
<hr />
<% @trip.locations.each do |location| %>
<p><%= link_to location.name, [@trip, location] %> | </p>
<%end%>
<%= link_to 'Add Location', new_trip_location_path(@trip) %>
<br />
<%= link_to 'Back', trip_path(@trip) %>